{% extends 'base.html.twig' %}

{% block title %}Page de création de compte
{% endblock %}

{% block body %}
	<h1 class="row d-flex justify-content-center mt-5">Inscription</h1>
	<div class="row d-flex justify-content-center">
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

		<button type="submit" class="btn btn-primary ">Créer un compte</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
