{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <h1>{{ category.name }}</h1>

    <h2>Liste de films</h2>

    <div class="row g-2">
        {% for category in category.getMovies() %}
            <div class="col">
                <a href="{{ path('app_movies_show', {'id': category.id}) }}">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_category_index') }}">back to list</a>

    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
