{% extends 'base.html.twig' %}

{% block title %}Movies index
{% endblock %}

{% block body %}
	<h1 class="row d-flex justify-content-center mt-5">Tous les films</h1>

	<div class="row g-2">
		{% for movie in movies %}
			<div class="col-m" style="max-width: 200px">
				<div class="card">
					<img src="{{ asset(image_dir ~ movie.picture) }}" class="card-img-top" alt="image de {{ movie.name }}" style="height: 200px">
					<div class="card-body">
						<h5 class="card-title">{{ movie.name }}</h5>
						<h5 class="card-text">{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</h5>
						<p class="card-text">{{ movie.synopsis }}</p>
						<p class="card-text">{{ movie.duration }}h</p>
						<p class="card-text">{{ movie.duration }}h</p>
						<a href="{{ path('app_movies_show', {'id': movie.id}) }}">Détails</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_movies_edit', {'id': movie.id}) }}">Modifier</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% else %}
			<div>
				<p>no records found</p>
			</div>
		{% endfor %}
	</div>

	<a href="{{ path('app_movies_new') }}" class="color-btn">Ajouter</a>
{% endblock %}
